<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Pedido</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <script>
        const categoriasBebidas = {{ categorias_bebidas | safe }};
        const categoriasAlimentos = {{ categorias_alimentos | safe }};
        const categoriasPromociones = {{ categorias_promociones | safe }};
    </script>

    <script type="module" src="/static/js/home.js"></script>


</head>

<body>
    <h1 style="text-align: center; margin-top: 30px;">
        Registro de Pedidos <br>
        <span style="font-weight: bold; font-size: 32px;">Tory Cafe</span>
    </h1>

    <!-- Botón con espacio adicional debajo -->
    <div style="text-align: center; margin-bottom: 20px;">
        <button class="btn btn-primary" id="getLocationBtn"> <!-- Espacio añadido aquí -->
            Click para Enviar ubicación actual
        </button>
    </div>


    <form method="POST" action="/{{ token }}" class="container">
        <!-- Espacio adicional después del botón de ubicación -->
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input class="form-control" type="text" id="nombre" name="nombre" required><br><br>

        </div>

        <label for="cantidad_bebidas">¿Cuántas Bebidas deseas?</label>

        <div class="container_quantity">
            <!-- Botón de restar bebidas -->
            <button class="btn btn-outline-danger" type="button" id="updateQuantityMinusBtn"><span>-</span></button>

            <!-- Input de cantidad de bebidas -->
            <input type="number" id="cantidad_bebidas" name="cantidad_bebidas" min="1" value="0" readonly />

            <!-- Botón de añadir bebidas -->
            <button class="btn btn-outline-primary" type="button" id="updateQuantityPlusBtn"><span>+</span></button>
        </div>

        <!-- <button type="button" onclick="mostrarFormularios_bebidas()">Click para personalizar tus bebidas</button><br><br> -->

        <div id="formularios_bebidas"></div>


        <label for="cantidad_alimentos">¿Cuántos Alimentos deseas?</label>

        <div class="container_quantity">
            <!-- Botón de restar bebidas -->
            <button class="btn btn-outline-danger" type="button"
                onclick="actualizarCantidad_alimentos(-1)"  id="updateQuantityFoodMinusBtn"><span>-</span></button>

            <!-- Input de cantidad de bebidas -->
            <input type="number" id="cantidad_alimentos" name="cantidad_alimentos" min="1" value="0" readonly>

            <!-- Botón de añadir bebidas -->
            <button class="btn btn-outline-primary" type="button"
                onclick="actualizarCantidad_alimentos(1)" id="updateQuantityFoodPlusBtn"><span>+</span></button>
        </div>

        <!-- <button type="button" onclick="mostrarFormularios_alimentos()">Click para personalizar tus alimentos</button><br><br> -->

        <div id="formularios_alimentos"></div>


        <label for="cantidad_promociones">¿Cuántas Promociones deseas?</label>

        <div class="container_quantity">
            <!-- Botón de restar bebidas -->
            <button class="btn btn-outline-danger" type="button" id="updateQuantityPromoMinusBtn"><span>-</span></button>

            <!-- Input de cantidad de bebidas -->
            <input type="number" id="cantidad_promociones" name="cantidad_promociones" min="1" value="0" readonly>

            <!-- Botón de añadir bebidas -->
            <button class="btn btn-outline-primary" type="button" id="updateQuantityPromoPlusBtn"><span>+</span></button>
        </div>

        <!-- <button type="button" onclick="mostrarFormularios_promociones()">Click para personalizar tus promociones</button><br><br> -->

        <div id="formularios_promociones"></div>

        <br>

        <button class="btn btn-success" type="submit">Hacer Pedido</button>
    </form>

</body>

</html>